{% extends 'layouts/blank_layout.html' %}
{% load static %}


{% block navbar %}
{% include 'layouts/navbar.html'%}
{% endblock %}

{% block hero_content %}
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">{% block title %}Contact Us{% endblock %}</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">{% block sub_title %}Home{% endblock %}</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">{% block head %}Contact Us{% endblock %}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block contact %}


    <!-- Contact Start -->
    <div class="container-fluid pt-5 ">
      <div class="container">
        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">Get In Touch</span>
          </p>
          <h1 class="mb-4">Contact Us For Any Query</h1>
        </div>
        <div class="row">
          <div class="col-lg-7 mb-5">
            <div class="contact-form">
              <div id="success"></div>
              <form name="sentMessage"method="POST" id="contactForm" >
                  {% csrf_token %}
                <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required="required"
                    name="name"
                    pattern="[A-Za-z\s]{3,}"
                    title="Please enter a valid name with at least 3 characters"
                    minlength="3"
                    data-validation-required-message="Please enter your name"
                  />
                  <p class="help-block text-danger"></p>
                  {% if form.name.errors %}
                  <p class="help-block text-danger">{{ form.name.errors.0 }}</p>
                {% endif %}
                </div>
                <div class="control-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Your Email"
                    required="required"
                    name="email"
                    data-validation-required-message="Please enter your email"
                  />
                  
                  <p class="help-block text-danger"></p>
                  {% if form.email.errors %}
                <p class="help-block text-danger">{{ form.email.errors.0 }}</p>
                {% endif %}
                </div>
                <div class="control-group">
                  <input
                      type="text"
                      class="form-control"
                      id="phone"
                      placeholder="Phone Number"
                      required="required"
                      name="phonenumber"
                      pattern="[0-9]{10}" 
                      title="Please enter a valid 10-digit phone number"
                      inputmode="numeric"
                      data-validation-required-message="Please enter your phone number"
                  />
                  <p class="help-block text-danger"></p>
                  {% if form.phonenumber.errors %}
                  <p class="help-block text-danger">{{ form.phonenumber.errors.0 }}</p>
                 {% endif %}
              </div>
                <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    placeholder="Subject"
                    required="required"
                    name="subject"
                    data-validation-required-message="Please enter a subject"
                  />
                  <p class="help-block text-danger"></p>
                </div>
                
                <div class="control-group">
                  <textarea
                    class="form-control"
                    rows="6"
                    id="message"
                    placeholder="Message"
                    required="required"
                    name="message"
                    data-validation-required-message="Please enter your message"
                  ></textarea>
                  <p class="help-block text-danger"></p>
                </div>
                <div>
                  <button
                    class="btn btn-primary py-2 px-4"
                    type="submit"
                    id="sendMessageButton"
                  >
                    Send Message
                  </button>
                  {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 mb-5">
            <p>
              We offer regular assessment tests, dedicated doubt-clearing sessions, and flexible timing to fit your schedule. 
            If you're interested in programming, our python programming course start from the basics to build a strong foundation.
            Book your seat today and start your learning journey with us!
            </p>
            <div class="d-flex">
              <i
                class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5>Address</h5>
                <p>Cochin , Ernakulam</p>
              </div>
            </div>
            <div class="d-flex">
              <i
                class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5>Email</h5>
                <p>binuscomputer@gmail.com</p>
              </div>
            </div>
            <div class="d-flex">
              <i
                class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5>Phone</h5>
                <p>+012 345 67890</p>
              </div>
            </div>
            <div class="d-flex">
              <i
                class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5>Opening Hours</h5>
                <strong>Monday - Saturday:</strong>
                <p class="m-0">10:00 AM - 05:00 PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->
    {% endblock %}



{% block footer %}
{% include 'layouts/footer.html'%}       
{% endblock %}

   