<div class="form-group">
    <input
      type="text"
      class="form-control border-0 p-4"
      placeholder="Your Name"
      required="required"
      name = "name"
    />
  </div>
  <div class="form-group">
    <input
      type="email"
      class="form-control border-0 p-4"
      placeholder="Your Email"
      required="required"
      name = "email"
    />
  </div>
  <div class="form-group">
      <input
        type="tel"
        class="form-control border-0 p-4"
        placeholder="Phone Number"
        required="required"
        pattern="[0-9]{10}" 
        title="Please enter a valid 10-digit phone number"
        inputmode="numeric"
        name = "phonenumber"
      />
    </div>
  <div class="form-group">
    <select
      class="custom-select border-0 px-4"
      style="height: 47px"
      name="class_selection"
    >
      <option selected>Select A Class</option>
      <option value="1">Plus One Computer Science</option>
      <option value="2">Plus One Computer Application</option>
      <option value="3">Plus Two Computer Science</option>
      <option value="4">Plus Two Computer Application</option>
      <option value="5">B.Tech Computer Science</option>

    </select>
  </div>
  <div>