{% extends 'layouts/blank_layout.html'%}
{% load static %}

{% block navbar %}
{% include 'layouts/navbar.html'%}
{% endblock %}


{% block hero %}
{% include 'layouts/hero.html'%}
{% endblock %}

{% block video_section %}
{% include 'layouts/video_section.html'%}
{% endblock %}

{% block best_school %}
{% include 'layouts/best_school.html'%}  
{% endblock %}

{% block popular_class %}
{% include 'layouts/popular_class.html'%}    
{% endblock %}

{% block registration %}
{% include 'layouts/registration.html'%}       
{% endblock %}

{% block footer %}
{% include 'layouts/footer.html'%}       
{% endblock %}