{% load static %}
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class="text-white mb-4 mt-5 mt-lg-0">Binus Malayalam Tutorials</h4>
        <h1 class="display-3 font-weight-bold text-white">
          Your Key to Academic Success        </h1>
        <p class="text-white mb-4">
          Our mission is to empower  Students with personalized online tuitions and comprehensive study resources. 
          Additionally, we offer Python programming classes to equip students with essential coding skills for the future.
          Join us to excel academically and gain valuable tech knowledge, all in one place.
        </p>
        <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <img class="imag-fluid mt-5" src="{% static 'img/header.png' %}" alt="" />
      </div>
    </div>
  </div>