{% load static %}
<div class="container-fluid pt-5">
    <div class="container">
        <div>
        </div>
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Popular Classes</span>
        </p>
        <h1 class="mb-4">Our Classes</h1>
      </div>
      <div class="row">
        {% for tutorial in tutorials %}
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="{{ tutorial.image.url }}" alt="{{ tutorial.title }}" />
            <div class="card-body text-center">
              <h4 class="card-title">{{ tutorial.title }}</h4>
              <p class="card-text">
                {{ tutorial.description }}
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Class</strong>
                </div>
                <div class="col-6 py-1">{{ tutorial.class_name }}</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Mode Of Class</strong>
                </div>
                <div class="col-6 py-1">{{ tutorial.mode_of_class }}</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Class Time</strong>
                </div>
                <div class="col-6 py-1">{{ tutorial.class_timings }}</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Tuition Fee</strong>
                </div>
                <div class="col-6 py-1">{{ tutorial.tuition_fee }} / Month</div>
              </div>
            </div>
            <a href="{% url 'join_now' %}" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

